@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner && Context.Request.Cookies["ConsentRefused"] != "true") {
    <div id="cookieConsent" role="alert">
        @Localizer["CookieBanner.desc"]
        <button id="cookieConsent-refuse" type="button" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString.Replace(".AspNet.Consent=yes", "ConsentRefused=true")">
            <span aria-hidden="true">@Localizer["CookieBanner.Refuse"]</span>
        </button>
        <button id="cookieConsent-accept" type="button" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">@Localizer["CookieBanner.Accept"]</span>
        </button>
    </div>
    <script>
        (function () {
            const buttons = document.querySelectorAll("#cookieConsent button[data-cookie-string]");

            for (const button of buttons) {
                button.addEventListener("click", function (event) {
                    document.cookie = button.dataset.cookieString;
                    window.location.reload();
                }, false);
            }
        })();
    </script>
}
