---
// src/pages/index.astro
import { getLangFromUrl, useTranslations } from '/src/i18n/utils';

import ProjectsData from '../data/ProjectsData.js';

import Contact from '../components/Contact';
import HomepageProject from '../components/HomepageProject';
import Sidebar from '../components/Sidebar';

import './index.css';

const currLang = getLangFromUrl(Astro.url);
const t = useTranslations(currLang);
const projects = ProjectsData.getProjects();
---

<html lang={currLang}>
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>Dysnomia</title>
	</head>
	<body>
		{/* TODO: change language */}
		{projects.map((project) =>
			<HomepageProject project={project} t={t} />
		)}
		<Sidebar projects={projects} t={t} />
		<Contact t={t} />
		<br>

		<p class="legal">Dysnomia - SAS au capital de 1000€ - SIREN: 900 705 989</p>
	</body>
</html>
