@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
}

<section id="index-top" class="corps">
    <h1>Dysnomia</h1>
    <p>@Localizer["IndexTop.Description"]</p>
</section>

<div id="whoami" class="anchor"></div>
<section id="index-comp-desc" class="corps-text">
    <h2>@Localizer["WhoAmI.Title"]</h2>
    @Localizer["WhoAmI.Desc1"]<br />
    <br />
    @Localizer["WhoAmI.Desc2"]<.<br />
</section>

<div id="projects" class="anchor"></div>
<section id="index-projects" class="corps">
    <h2>Nos projets</h2>
    <div class="project-list">
        <div class="project-item">
            <span class="project-title"><a href="https://achieve.games" rel="noopener noreferrer" target="_blank">Achieve.games</a></span>
            <span class="project-time">@Localizer["Projects.Since"] 2021</span><br /><br />
            <span class="project-type">@Localizer["Projects.Tool"]</span><br />
            <span class="project-desc">@Localizer["Projects.AchieveGames.Description"]</span><br /><br />
            <span class="project-logo"><a href="https://achieve.games"><img src="/img/icons/achievegames.jpg" alt="achieve.games"></a></span>
            <span class="project-url"><a href="https://achieve.games">achieve.games</a></span><br />
        </div>

        <div class="project-item">
            <span class="project-title"><a href="https://store.steampowered.com/app/1299430/Extortion/" rel="noopener noreferrer" target="_blank">Extortion</a></span>
            <span class="project-time">@Localizer["Project.Extortion.Released"]</span><br /><br />
            <span class="project-type">@Localizer["Projects.Games"]</span><br />
            <span class="project-desc">@Localizer["Project.Extortion.Description"]</span><br /><br />
            <span class="project-logo"><a href="https://store.steampowered.com/app/1299430/Extortion/" rel="noopener noreferrer" target="_blank"><img src="/img/icons/extortion.png" alt="Extortion"></a></span>
            <span class="project-url"><a href="https://store.steampowered.com/app/1299430/Extortion/" rel="noopener noreferrer" target="_blank">Steam</a> / <a href="https://twitter.com/Extortion_Game" rel="noopener noreferrer" target="_blank">Twitter</a></span><br />
        </div>

        <div class="project-item">
            <span class="project-title"><a href="https://dehash.me" rel="noopener noreferrer" target="_blank">Dehash.me</a></span>
            <span class="project-time">@Localizer["Projects.Since"] 2017</span><br /><br />
            <span class="project-type">@Localizer["Projects.Tool"]</span><br />
            <span class="project-desc">@Localizer["Projects.Dehashme.Description"]</span><br /><br />
            <span class="project-logo"><a href="https://dehash.me"><img src="/img/icons/dehashme.jpg" alt="dehash.me"></a></span>
            <span class="project-url"><a href="https://dehash.me">www.dehash.me</a></span><br />
        </div>

        <div class="project-item">
            <span class="project-title"><a href="https://galactae.eu" rel="noopener noreferrer" target="_blank">Galactae: Space Age Dawn</a></span>
            <span class="project-time"><span class="project-time">@Localizer["Projects.Since"] 2016<br>@Localizer["Projects.BetaSince"] 2019</span></span><br /><br />
            <span class="project-type">@Localizer["Projects.Games"]</span><br />
            <span class="project-desc">@Localizer["Projects.GalactaeSAD.Description"]</span><br /><br />
            <span class="project-logo"><a href="https://galactae.eu" rel="noopener noreferrer" target="_blank"><img src="/img/icons/galactae.jpg" alt="galactae.eu"></a></span>
            <span class="project-url">
                <a href="https://galactae.eu" rel="noopener noreferrer" target="_blank">www.galactae.eu</a><br /><br />
                <a href="https://play.google.com/store/apps/details?id=com.dysnomia.galactae" rel="noopener noreferrer" target="_blank"><img src="/img/android.png" alt="android app"></a>
                <a rel="noopener noreferrer" target="_blank"><img src="/img/ios-soon.png" alt="ios app"></a>
                <a rel="noopener noreferrer" target="_blank"><img src="/img/windows-store-soon.png" alt="windows app"></a>
            </span><br />
        </div>
    </div>
</section>

<div id="contact" class="anchor"></div>
<section id="index-contact" class="corps">
    <h2>Contact</h2>

    @if (@ViewData["Message"] != null) {
        <h1>@ViewData["Message"]</h1>
    }

    @if (consentFeature?.CanTrack ?? false) {
        <form method="post" action="contact#contact">
            <input type="text" name="name" placeholder="@Localizer["Contact.Name"]" required>
            <input type="text" name="mail" placeholder="Mail" required><br /><br />
            <select name="objet">
                <option disabled selected>@Localizer["Contact.Subject"]</option>
                <option value="partner">@Localizer["Contact.Partnership"]</option>
                <option value="galactae" disabled>@Localizer["Contact.Galactae"]</option>
                <option value="achievegames">Achieve.games</option>
                <option value="dehashme">Dehash.me</option>
                <option value="extortion">Extortion</option>
                <option value="autre">@Localizer["Contact.Other"]</option>
            </select><br /><br />
            <textarea name="message"></textarea><br />

            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="***REMOVED***"></div>

            <input type="submit" value="@Localizer["Contact.Send"]">
        </form>
    } else {
        <p><b>@Localizer["Contact.CookiesNeeded"]</b></p>
    }
</section>
